.input-group .input-group-addon {
    /* backgroun2d-color: #c54041;
    border: 1px solid #c54041; */
    color: #fff;
}
.card-block-box {
    /* background: #fdfbfb; */
    background: #f9f9f9f2;
    border-radius: 3px;
    box-shadow: 0px 2px 6px 0px #e0dbdb;
}
.background-block {
	/* min-height: 500px; */
    background-image: url(../images/careers/form-bg2.jpeg);
    /* position: relative; */
    width: 100%;
}
.error.redColor span{
    color: #c54041;
    visibility: visible;
}
.error.redColor {
    color: #c54041;
    visibility: visible;
}