@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Montserrat|Noto+Sans|Roboto');

@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*font-family: 'Montserrat', sans-serif;
font-family: 'Fascinate Inline', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Noto Sans', sans-serif;*/
.poppins-font-family{
    font-family: 'Poppins', sans-serif;
}
.montserrat-font-family{
    font-family: 'Montserrat', sans-serif;
}
.Fascinate-font-family{
    font-family: 'Fascinate Inline', cursive;
}
.roboto-font-family{
    font-family: 'Roboto', sans-serif;
}
.noto-font-family{
    font-family: 'Noto Sans', sans-serif;
}

body{font-family: 'Roboto', sans-serif; font-size: 13px;}
.link-footer-services {
    margin-bottom: 20px;
    border-bottom: 1px solid #808080;
}
.anim-slider{background-color: #fff;}
.anim-slide{opacity: 0;}
.anim-slide-this{opacity: 1;}
li.anim-slide:nth-of-type(1){background:#fff url("../images/demo2/bg1new.jpg") 100%/cover;}
li.anim-slide:nth-of-type(2){background:#fff url("../images/demo2/bg2new.jpg") 100%/cover;}
li.anim-slide:nth-of-type(3){background:#fff url("../images/demo2/bg3new.jpg") 100%/cover;}
li.anim-slide:nth-of-type(4){background:#fff url("../images/demo2/bg4new.jpg") 100%/cover;}
li.anim-slide:nth-of-type(5){background:#fff url("../images/demo2/bg5new.jpg") 100%/cover;}
li.anim-slide:nth-of-type(1)>h1{margin: 260px 60px;font-size:60px;padding: 0px 25px;}
h1#looks span{/*background-color:#fff;*/color:#fff; padding:5px 15px;font-weight:300;width:630px;}
h1#amazing span{/*background-color:#34495e;*/color:#fff;padding:5px 15px;font-weight:100;width:630px;margin-top:130px;font-size:30px;}
#big_no{font-size:55px;top:30%;left:20%;color:#fff;    background-color: #D60C0C;    padding: 4px 30px;}
.second_slide{margin:180px 100px;color:#fff;}
#exp{font-size:55px; color: #fff;}
#ask{margin-top: 120px;font-size: 25px;font-weight:100; color: #fff;}
#cap{margin-top:175px; font-size:30px;font-weight:100;color: #fff;}
#now{margin-top:230px;font-size:30px;color: #fff;}
li.anim-slide:nth-of-type(2)>div{width: 100%;height: 100%;}
li.anim-slide:nth-of-type(3)>h1{margin: 0;font-size:60px;color: #fff;}
#man_image{right: 0;top: -53px;width: auto;height: 138%;}
#rework_image, #exp_image {right: 0;top: 0px;width: auto;height: 100%;}
#quality_image{left:0;top:0;width:auto;height:120%;}
h2#para{top: 40%;left: 30%;text-align: center;font-size: 34px;color: #fff;width:400px;font-weight:100;}
h2#para span{display:block;}
h1#a1{top:30%;left:25%;}
h1#r1{top:30%;left: 28%;}
h1#c1{top:30%;left: 31%;}
h1#h1{top:30%;left: 34%;}
h1#i1{top:30%;left: 37%;}
h1#t1{top:30%;left:38.5%;}
h1#e1{top:30%;left: 41%;}
h1#c2{top:30%;left: 44%;}
h1#t2{top:30%;left: 47%;}
h1#u1{top:30%;left: 50%;}
h1#r2{top:30%;left:53%;}
h1#e2{top:30%;left: 56%;}
h1#mark{top:30%;left: 59%;}
h1#rework span{display:block;width:600px;}
h1#rework{top: 40%;left: 5%;text-align: center;font-size: 34px;font-weight:100;width:750px;color: #fff;padding: 40px;border-radius: 100px;}
h1#goal{top: 26%;right: 14%;text-align: center;font-size: 65px;color: #fff; width: 600px;}
h2#goal_para{top: 45%;right: 14%;text-align: center;font-size: 30px;color: #fff; text-align:center;width:600px;font-weight:100;}
h2#goal_para span{display:block;text-align:center;width:600px;}
/*#now:after{content: url('../images/demo2/right_arrow-125.png');position:absolute;right:-100px;top:-5px;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}*/
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateX(0);} 
 40% {-webkit-transform: translateX(-30px);}
 60% {-webkit-transform: translateX(-15px);}
}
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateX(0);}
 40% {-moz-transform: translateX(-30px);}
 60% {-moz-transform: translateX(-15px);}
}
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateX(0);}
 40% {-o-transform: translateX(-30px);}
 60% {-o-transform: translateX(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateX(0);}
 40% {transform: translateX(-30px);}
 60% {transform: translateX(-15px);}
}
div#demo{text-align: center;}
div#demo>a{display:inline-block;text-decoration: none;}
div#demo>a>h4{padding: 5px 8px;margin: 20px;background-color: #225A86;color: #fff;box-shadow:inset 0 -2px 0 rgba(0,0,0,0.15);}
p#credits{z-index:-1;position: fixed;bottom: 0px;width: 100%;text-align: center;font-size: 14px;}
p#credits>a{font-weight: bold;color: #999;text-decoration: none;}
img#github-logo{z-index:-1;position: fixed;bottom: -20px;right: 2%;opacity: 0.4;}
.mainBack{width:100%;height:100%;background:#000000;position:absolute;opacity:0.6;}
.nicescroll-rails {
    opacity: 1 !important;
    top: 100px !important;
}
/* General css */

.image-wrapper {
    min-width: 30px;
}
.services-image-icon.outsourcing-img {
    max-width: 67px;
}
.services-image-icon.support-maintenance-img {
    max-width: 60px;
}
.services-image-icon {
    display: inline-block;
    max-width: 100px;
}

.container {
    margin: 0 auto;
    width: 1170px;
}
/* .text-uppercase{
    text-transform: uppercase;
} */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}
/*.col-md-3 {
    width: 25%;
    float: left;
}
.col-md-6 {
    width: 50%;
    float: left;
}
.col-md-9{
    width: 75%;
    float: left;
}
.col-md-12 {
    width: 100%;
    float: left;
}
.col-md-4 {
    width: 33.33%;
    float: left;
}*/
.team-container{
    width: 100%;
    border: 5px solid #fff;
    margin-top: 50px;
}
.team-container:hover{
    transform: scale(1.02);
}
.image-container{
  position: relative;
  margin-bottom: 7px;
  width: 100%;
  /* height: 278px; */
  /* height: 246px; */
  height: 260px;
  border: 0px solid #fffdfd;
 
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  border-radius: 7%;
  transition: .5s ease;
  background-color: #710404d1;
}

.image-container:hover .overlay {
  opacity: 1;
}
/* .text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
.image-container1{
     border-top-right-radius: 65px;
     box-shadow: 4px -5px 7px rgba(0, 0, 0, 0.25);
}
.image-container2{
    box-shadow: 0px -3px 10px #56515178;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.padding-50-00{
    padding-top: 50px;
    text-transform: uppercase;
}
.font-size-25{
    font-size: 25px;
    text-shadow: 2px 2px 5px #cac7c7;
}
.image-container .background-image{
    width: 100%;
    /* width: 100.16%; */
    height: 100%;
    background-size: cover;
    border-radius: 8%;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all .2s;
    transition: border .2s;
}
.background-image1{
      border-top-right-radius: 61px;
}
.background-image2{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.background-image3{
    border-radius: 8%;
}
.background-image4{
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.background-img2::after{
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(142, 65, 65, 0.33);
}
/* .background-image4::after{
    content:'';
    position: absolute;
    bottom: 0;
     width: 120px;
    border-bottom: 120px solid #ec3504;
    border-left: 60px solid transparent;
    border-right: 60px solid transparent;
} */
.background-img {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}

@keyframes fade {
    0% {
        opacity: 1;
    }
    25% {
        opacity: 1;
    }
    75% {
        opacity: 0;
    }
    100% {
        opacity: 0;
    }
}
.hover{
    transition: all .4s;
    position: absolute;
    top: 0;
    opacity: 0;
}
.team-container:hover .image-container .background-image.hover {
    opacity: 1;
}
.team-container1{
        width: 100%;
        margin-top: 50px;
        border-top-right-radius: 61px;


}
.team-container1:hover .image-container .background-image.hover {
    opacity: 1;
    border-top-right-radius: 61px;
}
.team-container2{
        width: 100%;
        margin-top: 50px;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
}
.team-container2:hover .image-container .background-image.hover {
    opacity: 1;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.team-container3{
        width: 100%;
        margin-top: 50px;
        border-radius: 8%;
}
.team-container3:hover .image-container .background-image.hover {
    opacity: 1;
    border-radius: 8%;
}
.white-color{
    color: #fff;
}
.primary-color {
    color: #ec6162;
}
.secondary-color {
    color: #656565;
}
.tertiary-color {
    color: #242424;
}
.weight-300-height-16{
    font-weight:  300;
    line-height: 1.6;
}
.font-size-60{
    font-size: 60px;
}
.font-size-55{
    font-size: 55px;
}
.font-size-50{
    font-size: 50px;
}
.font-size-45{
    font-size: 45px;
}
.font-size-40{
    font-size: 40px;
}
.font-size-32{
    font-size: 32px;
}
.font-size-26{
    font-size: 26px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-14{
    font-size: 14px;
}
.banner .content .main-heading-inner {
    margin-bottom: 25px;
}
.banner .content {
    margin-bottom: -50px;
    padding-top: 183px;
}
.flex-center {
    display: flex;
    align-items: center;
}
.line-height-13{
    line-height: 1.3;
}

.padding-right-15{
    padding-right: 15px !important;
}
.padding-left-15{
    padding-left: 15px !important;
}
.padding-50 {
    padding: 50px;
}
.padding-0-50 {
    padding: 0 50px;
}
.padding-20{
    padding: 20px;
}
.padding-50-25 {
    padding: 18px 25px;
}
.padding-08-25{
    padding: 14px 25px;
  
}
.padding-50-70 {
    padding: 50px 70px;
}
.padding-10-0 {
    padding: 10px 0;
}
.padding-0-0-20 {
    padding: 12px 0 31px;
}
.padding-50-0 {
    padding: 50px 0;
}
.padding-100-0 {
    padding: 100px 0;
}
.padding-75-0 {
    padding: 75px 0;
}
.padding-75 {
    padding: 75px;
}
.padding-75-200 {
    padding: 75px 200px;
}
.padding-100 {
    padding: 100px;
}
.padding-150 {
    padding: 150px;
}
.padding-150-200{
    padding: 150px 200px;
}
.padding-0-200{
    padding: 0 200px;
}
.mar-bot-50 {
    margin-bottom: 50px;
}
.mar-top-50{
    margin-top: 50px;
}
.mar-bot-35 {
    margin-bottom: 35px;
}
.mar-bot-15 {
    margin-bottom: 15px;
}
.mar-bot-100{
    margin-bottom: 100px;
}
.mar-top-100{
    margin-top: 100px;
}
.mar-top-10{
    margin-top: 10px;
}
.mar-top-15{
    margin-top: 15px;
}
.mar-top-50{
    margin-top: 50px;
}
.img-responsive{
    max-width: 100%;
}
.pepcus-built-section .section-head-content {
    margin-bottom: 0;
}
.section-head-content{
    position: relative;
    overflow: hidden;
    margin-bottom: 100px;
}
.section-head-content .image-wrapper img{
    width: 100%;
}
.flex-section-center {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.flex-section-center .image-section{
    padding: 0;
}
.right-0{
    right: 0;
}
.left-0{
    left: 0;
}
.pull-right {
    float: right;
}
.pull-left {
    float: left;
}
a.link-footer {
    display: inline-block;
    font-size: 20px;
    text-decoration: none;
    margin-bottom: 10px;
    padding: 5px 0;
}
.footer-link{
    /* overflow: hidden; */
}
/* .footer-team{
    min-height: 600px;
    background-repeat: no-repeat;
    background-image: url("../images/footer/Ankit.jpg");position:relative;width:100%;
} */
 .footer-image li{
    display: block;
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    background: #333;
    /* width: 227.6px; */
    width: 170.7px;
    /* width:273.2px; */
    /* height: 125px; */
    height: 150px;
    /* background-position: 50% 50%; */
    background-position: 50% 18%;
    background-size: cover;
}
.padding-0{
    padding: 0;
}
.footer-image li::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.7;
    /* background:rgba(0, 0, 0, 0.49); */
    /* background: rgb(0, 0, 0); */
    background: rgb(29, 28, 28);
}
.footer-text-image{
    font-weight: 600;
}
.footer-text-image h3{
        position: absolute;
        top: 48%;
        z-index: 2;
        transform: translateX(-50%)translateY(-50%);
        font-size: 42px;
        color: white;
        left: 50%;
}
.footer-text-image h2{
        position: absolute;
        top: 48%;
        z-index: 2;
        transform: translateX(-50%)translateY(-50%);
        font-size: 47px;
        margin-top: 52px;
        color: black;
        left: 50%;
}
.team-upnext{
    height: 200px;
    width: 200px;
    background-color: black;
}
.service-section-margin{
    margin-top: -7px;
}
.footer-text-image h2 span{
    color: #c30d0d;
}
.footer-position{
    position: absolute;
}
.footer-block-right{
    position: absolute;
    right: 0;
}
.footer-height{
    /* height: 600px; */
    height: auto;
}
.footer-image li:hover{
    opacity: 1;
}
.footer-image li:hover::after{
    /* background: rgba(255, 233, 233, 0); */
    background:rgba(140, 116, 116, 0.68);
}
.footer-secondary-link{
    width: 65%;
    float: left;
}
.footer-primary-link{
    width: 35%;
    float: left;
}
a.link-footer:hover{
    color: #c54041;
    font-weight: bold;
}
.footer-desc-para{
    line-height: 1.3;
}
.footer-desc {
    background: #f7f7f7;
    padding: 30px 25px;
    border: 1px solid #dbdbdb;
}
.footer-desc-link a:hover{
    color: #c71111;
    transition: 0.2s all;
    font-weight: bold;
}
.footer-desc-link a{
    display: inline-block;
    margin-bottom: 5px;
}
.footer-logo{
    width: 70px;
}
.footer-copy{
    overflow: hidden;
}
.footer-copy{
    border-top: 1px solid #dbdbdb;
    background: #5f5f5f;
    color: #c1c1c1;
}
footer{
    border-top: 1px solid #dbdbdb;
    background: #fbfbfb;
}
.btn.btn-warning.btn-send{
    background: #c54041;
}
.about-company-block{
/*    background-image: url("../images/services/03.jpg");
    background-position: right;
    background-repeat: no-repeat;
    background-size: 500px 100%;*/
    background-color: #f1f1f1;
}
.services-section-bullet, .startup-list {list-style-type: disc;}
.startup-list {
    margin-top: 10px;
    padding-left: 20px;
}
.flex-overflow-center {
    display: flex;
    align-items: center;
    overflow: hidden;
}
.privacy-policy:hover {
    color: #fff;
}
.privacy-policy {
    color: #dbdbdb;
    text-decoration: underline;
}
.privacy-link {
    color: #c12e2a;
    text-decoration: none;
}
.privacy-link:hover {
    color: #5f5f5f;
}
.privacy-img {min-height: 400px; background-image: url("../images/innerpages/privacy.jpg");}
.general-img {min-height: 400px; background-image: url("../images/parallex/general1.jpg");}
.strength-img {min-height: 400px; background-image: url("../images/innerpages/strength.jpg");}
.cwd-img {min-height: 400px; background-image: url("../images/innerpages/cwd.jpg");}
.sta-img {min-height: 400px; background-image: url("../images/innerpages/sta.jpg");}
.sm-img {min-height: 400px; background-image: url("../images/innerpages/sm.jpg");}
.mobile-img {min-height: 400px; background-image: url("../images/innerpages/mobile.jpg");}
.startup-img {min-height: 400px; background-image: url("../images/innerpages/startup.jpg");}
.op-img {min-height: 400px; background-image: url("../images/innerpages/op.jpg");}
.goal-img {min-height: 400px; background-image: url("../images/innerpages/goal.jpg");}
.general1-img{min-height: 500px; background-image: url("../images/parallex/services1.jpg");}
.general2-img{min-height: 500px; background-image: url("../images/parallex/about1.jpg");}
.general-team{min-height: 500px; background-image: url("../images/parallex/team-8.jpg");position:relative;width:100%;}
.general-team-layer{
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(130, 27, 27, 0.76)
}
.general-contact{min-height: 500px; background-image: url("../images/parallex/contact1.jpg");}
.parallax {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.content-section p{
    margin-bottom: 10px;
    padding: 5px 0;
}
.overflow-hidden{
    overflow: hidden;
}
.sky-light {
    background-color: #f5f8f9 !important;
}
.dark-background {
    background-color: #464646;
}
.ind-con-back {
    background-image: url("../images/parallex/ind-con.jpg");
}
.back-white{
    background-color: #fff;
}
.services-section-img{
    max-height: 150px;
}
.services-section-main-content .team-section-img{
    /* border-radius: 50%; */
}
.team-section-img{
    max-height: 340px;
}
.team-section-img .team-img2{
    opacity: 0;
    position: absolute;
    top: 12px;
    width: 330px;
    height: 291px;
    /* height: 341px; */
}
.team-section-img:hover .team-img2{
    /* opacity: 1;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 50%;
    padding: 15px; */
    opacity: 1;
    /* transition: 0.3s cubic-bezier(0.42, 0, 0.91, 0.15); */
    transition: 0.2s all;
   
    
}
.team-section-img .image-constant-hover {
    display: none;
}
.team-section-img:hover .image-constant {
    display: none;
}
.team-section-img:hover .image-constant-hover {
    display: block;
}

.primary-btn{
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid #c54041;
    border-radius: 35px;
    text-decoration: none;
}
.tertiary-btn{
    display: inline-block;
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 35px;
    text-decoration: none;
}

.primary-btn:hover, .tertiary-btn:hover{
    background: #c54041;
    color: #fff;
}
.primary-back{
    background-color: #c54041;
}
.input-group-addon {
     background-color: #c54041;
     border: 1px solid #c54041;
    color: #fff;
 }
.font-bold{
    font-weight: bold;
}
.services-section-main-content{
    padding: 10px 10px 10px;
}
.team-section-img img{
    height: 280px;
}
.team-section-img:hover .overlay img{
    opacity: 1;
}
.overlay img{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 373px;
  width: 100%;
  opacity: 0;
  padding: 17px 29px;
  border-radius: 50%;
  transition: .5s ease;

}
.text {
  color:#dccccc;
  font-size: 20em;
  position: absolute;
  top: 50%;
  left: 0%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.image-container:hover .overlay > .text{
  /* transform: rotate(358deg); */
    opacity: 1;
    left: 50%;
    transition: 0.4s left;
}
.white-shadow {
    box-shadow: 0 1.25rem 1.25rem rgba(34, 35, 36, 0.05);
}
.team-name-head{
    /* padding: 18px 0; */
    /* margin-bottom: 20px; */
    margin-bottom: 9px;
}
.team-name{
   /*  position: relative;
    z-index: 999; */
   
    padding-top: 34px;
    padding-bottom: 6px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px;
}
/* .team-name1{
     border-bottom-left-radius: 50px;
}
.team-name3{
        border-bottom-left-radius: 19px;
        border-bottom-right-radius: 19px;
}
.team-name4{
    border-radius: 24px;
} */
.service-section-content{
    margin-top: -95px;
    padding-top: 70px;
    padding-bottom: 15px;
    border-radius: 0px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /* border: 1px solid #bf3b3b; */
}
.service-content-row1{
    height: 598px;
}
.service-content-row2{
    /* height: 531px; */
    height: 476px;
}
.service-content-border{
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
.service-content-border1{
    border-bottom-left-radius: 61px;
}
.service-content-row3{
       height: 455px;
}
.service-content-row4{
    /* height: 261px; */
    /* height: 216px; */
    height: 188px;
}
.ceo-section-content{
    display: flex;
    justify-content: center;
}
.accordian_content div.content{
    display: none;
}
.accordian_content h3{
    cursor: pointer;
    padding-bottom: 15px;
    margin-right: 15px;
    border-bottom: 1px solid #c54041;
}
.accordian_content h3 i{
    margin-right: 10px;
}
.accordian-right{
    margin-left: 15px;
}
.accordian-left{
    margin-right: 15px;
}
/* loader */
.loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.999;
    background-color: #fff;
    z-index: 99999;
    text-align: center;
}
h1.loader-pepcus {
    position: absolute;
    color: rgba(0, 0, 0, .5);
    font-size: 5em;
    top: 55%;
    left: 50%;
    margin-left: -110px;
}
h1.loader-pepcus:before {
    content: attr(data-text);
    position: absolute;
    overflow: hidden;
    max-width: 7em;
    white-space: nowrap;
    color: #ff0000;
    animation: loading 8s linear;
}
@keyframes loading {
    0% {
        max-width: 0;
    }
}
.loading-image img {
    width: 100px;
}
.loading-image {
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -50px;
    margin-top: -50px;
}
.pepcus-collage{
        height:440px;
        padding: 0;
        margin-bottom: -30px;
        display: block;
        position: relative;
        z-index: 1;
        margin-top: 55px;
}

@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
/*.loading-image {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -24px;
    margin-top: -24px;
    z-index: 100;
}*/
/* loader */

/* scroll top */
.scrollup {
    width: 20px;
    height: 30px;
    position: fixed;
    bottom: 50px;
    right: 100px;
    text-align: center;
    display: none;
    z-index: 9;
}
.arrow-up-icon{
    padding: 15px 7px;
    background: rgba(197,64,65,0.7);
    border-radius: 30px;
    color: #fff;
}
.scrollup:hover .arrow-up-icon, .arrow-up-icon:hover{
    background: rgba(197,64,65,1);
}
/* scroll top */

/* header */
.navbar-brand {
    height: auto;
    padding: 0;
}
.nav {
    font-size: 18px;
    margin-top: 15px;
}
.navbar-nav>li>a {
    padding: 10px 20px;
}
.change-height .navbar-nav>li>a {
    padding: 10px 15px;
}
.change-height .nav {
    font-size: 16px;
}
.header-menu{
    height: 100px;
display: flex;
    align-items: center;
}
.header-menu input{
    display: none;
}
.navbar-inverse .navbar-nav>li>a,
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover{
    color: #585858;
    font-size: 18px;
}
.navbar-inverse .navbar-nav>li>a.primary-btn-pepcus {
    color: #fff;
}
.primary-btn-pepcus:hover {
    border: 2px solid #c12e2a;
    color: #c12e2a;
}
.navbar-inverse .navbar-nav>li>a:hover {
    color: #c12e2a;
}
.primary-btn-pepcus {
    background: #c12e2a;
    border: 2px solid #c12e2a;
}

.header-menu nav img{
    margin: 10px 0 0 20px;
}

.header-menu input + label {
    position: fixed;
    top: 40px;
    right: 40px;
    height: 20px;
    width: 15px;
    z-index: 99999;
}
.header-menu input + label span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #020304;
    transition: .5s;
}
.header-menu input + label span:first-child {
    top: 3px;
}
.header-menu input + label span:last-child {
    top: 16px;
}
.header-menu label:hover {
    cursor: pointer;
}
.header-menu input:checked + label span {
    opacity: 0;
    top: 50%;
}
.header-menu input:checked + label span:first-child {
    opacity: 1;
    transform: rotate(405deg);
}
.header-menu input:checked + label span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
}
.header-menu input ~ nav {
    background: #fff url("../images/services/header-back.jpg") top left no-repeat;
    background-size: 60%;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 9999;
    transition: .5s;
    transition-delay: .5s;
    overflow: hidden;
}
.header-menu input ~ nav > div.main-header-area {
    position: absolute;
    top: 25%;
    right: 50px;
    width: 600px;
    text-align: left;
}
.header-menu input ~ nav > div.main-header-area > ul > li {
    opacity: 0;
    transition: .5s;
    transition-delay: 0s;
}
.header-menu input ~ nav > div.main-header-area > ul > li > a {
    text-decoration: none;
    text-transform: uppercase;
    color: #020304;
    display: inline-block;
    padding: 10px;
    opacity: .85;
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}
.header-menu input ~ nav > div.main-header-area > ul > li > a:hover {
    color: #c54041;
}
.header-menu input:checked ~ nav {
    height: 100%;
    transition-delay: 0s;
}
.header-menu input:checked ~ nav > div.main-header-area > ul > li {
    opacity: 1;
    transition-delay: .5s;
}
.header-menu.change-height .navbar-brand {
    height: 50px;
    overflow: hidden;
}
.header-menu.change-height {
    height: 63px;
    background: #fff;
}
.header-menu.change-height .nav {
    margin-top: 0;
}
.header-menu.change-height{
    transition-delay: 0s;
}
.header-menu {
    transition: all 0.7s;
}
.level1-header-link{
    display: inline-block;
    width: 200px;
    float: left;
}
.level2-header-link{
    display: inline-block;
    width: 400px;
    float: left;
}
.menu-link-divider[href]:hover:before {
    right: -30px;
    /*background: #c54041;*/
}
.menu-link-divider[href]:focus, .menu-link-divider[href]:hover {
    color: #c54041;
}
.menu-link-divider {
    position: relative;
}
.menu-link-divider:hover {
    opacity: 1;
    padding-right: 2.5rem;
}

.menu-link-divider:before {
    position: absolute;
    top: 50%;
    right: -2.5rem;
    width: 30px;
    height: 2px;
    margin-top: -1px;
    background: rgba(255, 255, 255, 0);
    content: " ";
    transition-duration: 300ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
}

.navbar-inverse {
    background-color: rgba(255,255,255,0.7);
    border-color: transparent;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #c12e2a;
}
/* header */
.contact-quick >a .offHover {
    display: none;
}
.contact-quick >a.onHover {
    display: none;
}
.contact-quick >a:hover .offHover {
    display: block;
}
.contact-quick >a:hover .onHover {
    display: none;
}
.servicess-section-container a:hover .services-section-new-content:after {
    transform: scaleX(1);
}
.servicess-section-container a .services-section-new-content:after {
    display:block;
    content: '';
    border-bottom: solid 3px #c54041;
    transform: scaleX(0);
    transition: transform 500ms ease-in-out;
    transform-origin:  0 50%;
}
.services-section-new-content{
    display: block;
    text-align: center;
    min-height: 280px;
}
.services-section-new-content .image-wrapper {
    width: 80px;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    border-radius: 50%;
    border: 1px solid #c54041;
}
.services-section-new-content:hover > .image-wrapper {
    background: #c54041;
    color: #fff;
}
.services-section-img img{
    width: 100%;
}

.home .anim-slider .parallax , .banerSection{
    background-attachment: fixed;
}
.right-shift {
    top: 20%;
    left: 20%;
}
.left-shift {
    top: 20%;
    right: 20%;
}
.anim-slider {
    min-height: 500px;
    z-index: 0;
}


.anim-dots span:after{
    content: '';
    width: 14px;
    height: 14px;
    position: absolute;
    top: 2px;
    border-radius: 50%;
    left: 2px;
    background: rgb(255,255,255);
}

a.readMore {
    margin-top: 10px;
    color: #464646;
    display: inline-block;
}

.hideme {
    opacity: 0;
}

.visible {
    opacity: 1;
}

.error {
    visibility: hidden;
}
.error.redColor{
    color: #c54041;
    visibility: visible;
}

.client-section {
    display: inline-block;
    padding: 10px;
    cursor: pointer;
}
.footer-desc-head h6{
    text-transform: uppercase;
    font-weight: bold;
    color: #c54041;
}
/*.team-section-img img{
    -webkit-filter: grayscale(100%); !* Safari 6.0 - 9.0 *!
    filter: grayscale(100%);
}*/
.clients .client-container .client-section a:hover > img{
    -webkit-filter: grayscale(0); /* Safari 6.0 - 9.0 */
    filter: grayscale(0);
    transform: scale(1.5);
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
.clients .client-container .client-section.mincron a img{
    max-width: 210px;
}
.clients .client-container .client-section a img {
    max-width: 120px;
    margin: 0 15px;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
}
.clients {
    padding: 150px 0;
}
.right-arrow-icon {
    padding: 2px 15px;
    border: 4px solid #fff;
    border-radius: 50%;
    color: #ea1b3c;
    animation: bounce 2s infinite;
    -webkit-animation: bounce 2s infinite;
    -moz-animation: bounce 2s infinite;
    -o-animation: bounce 2s infinite;
}
.right-arrow-icon:hover {
    border: 3px #ea1b3c solid;
    box-shadow: 0 0 20px #ea1b3c;
}
.right-arrow {
    display: inline-block;
    top: -7px;
    left: 210px;
    font-size: 40px;
}
nav.anim-arrows>span.anim-arrows-prev:hover, nav.anim-arrows>span.anim-arrows-next:hover {
    border: 3px #ea1b3c solid;
    box-shadow: 0 0 20px #ea1b3c;
}

nav.anim-arrows>span.anim-arrows-prev, nav.anim-arrows>span.anim-arrows-next {
    color: #ea1b3c;
    position: absolute;
    padding: 2px 15px;
    border: 3px solid #fff;
    border-radius: 50%;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
a.social-icon {
    display: inline-block;
    width: 35px;
    height: 40px;
    background-image: url("../images/sprite/sprite.png");
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-size: cover;
    background-repeat: no-repeat;
}
a.social-icon:hover {
    filter: grayscale(0);
}
.facebook-icon {
    background-position: 0 5px;
}
.twitter-icon {
    background-position: -37px 5px;
}
.google-icon {
    background-position: -73px 5px;
}
.linked-icon {
    background-position: -113px 5px;
}
.insta-icon {
    background-position: -152px 5px;
}

a.social-icon:hover {
    color: #c12e2a;
}
.footer-social li{
    display: inline;
    border-radius: 50%;
    margin-right: 4px;
    background: linear-gradient(to left,#524f4f, #a29494);
}
.footer-social li:nth-child(1){
    padding: 8px 12px 7px 12px;
}
.footer-social li:nth-child(1):hover{
     background: #3b5998;
     transition: 0.2s all;
}
.footer-social li:nth-child(2){
    padding: 8px 11px 9px 11px;
}
.footer-social li:nth-child(2):hover{
        background: #5ea1f5;
        transition: 0.2s all;
}
.footer-social li:nth-child(3){
    padding: 8px 7px 8px 10px;
}
.footer-social li:nth-child(3):hover{
        background: #b52323;
        transition: 0.2s all;
}
.footer-social li:nth-child(4){
      padding: 8px 12px 9px 12px;
}
.footer-social li:nth-child(4):hover{
        background: #409ada;
        transition: 0.2s all;
}
.footer-social li:nth-child(5){
    padding: 8px 11px 8px 11px;
}
.footer-social li:nth-child(5):hover{
     background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
     transition: 0.2s all;
    
}
.footer-social li a i{
    color: white;
    font-size: 13px;
}
.footer-image{
    background: url(../images/footer/TeamPic.png);
    position: relative;
    background-size: cover;
    width: 100%;
    /* height: 410px; */
    padding-bottom: 30%;

}
.main-heading-inner span{
    color: #f10505;
}
.footer-content{
    color: white;
    padding-top: 146px;
}
@media only screen and (max-width: 1440px) {
    .about-company-block {
        background-size: 400px;
    }
}

@media only screen and (max-width: 1366px) {
li.anim-slide:nth-of-type(1) > h1{margin:220px 50px;}
li.anim-slide:nth-of-type(3) > h1{font-size:50px;}
h1#rework{font-size:30px; width:640px;}
h1#goal{right:15%;}
h2#goal_para{top:50%;right:15%;}
#exp{font-size:45px;}
	}

@media only screen and (max-width: 1280px) {
    .scrollup {
        right: 10px;
    }

    .clients {
        padding: 100px 0;
    }
    .client-section {
        margin-bottom: 20px;
    }
   .container{
       width: 95%;
   }
    .service-content-block3 {
        height: 540px;
    }
    .col-sm-2 {
        display: block;
    }
    .navbar-nav>li:nth-child(5) a {
        margin-left: 36px;
    }
    .header-menu input ~ nav {
        background-size: 50%;
        background-position: 0 100px;
    }
    .header-menu input ~ nav > div.main-header-area{
        width: 400px;
    }
    .level1-header-link{
        width: 100px;
    }
    .level2-header-link{
        width: 300px;
    }
    .navbar-nav>li:nth-child(5) a {
    margin-left: 36px;
}
    /* generalized CSS */
/*    .font-size-60 {
        font-size: 40px;
    }
    .font-size-50 {
        font-size: 36px;
    }
    .font-size-40 {
        font-size: 32px;
    }
    .font-size-32 {
        font-size: 28px;
    }
    .font-size-20 {
        font-size: 17px;
    }
    .font-size-16 {
        font-size: 14px;
    }
    .font-size-14 {
        font-size: 12px;
    }*/

    .xs-padding-0-80 {
        padding: 0 80px;
    }
    .xs-padding-30-80 {
        padding: 30px 80px;
    }
    .xs-padding-50-80 {
        padding: 50px 80px;
    }
    .xs-padding-90-100 {
        padding: 90px 100px;
    }
    .about-company-block{
        background-size: 380px 100%;
    }
    .parallax {
        background-attachment: scroll;
        background-position: bottom;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .general-img {min-height: 300px; }
    .general1-img{min-height: 400px;}
    .general2-img{min-height: 400px;}
    .general-team{min-height: 487px;}
    .general-contact{min-height: 400px; }
   
    .footer-image {
        padding-bottom: 41%;
    }
}
  .navbar-nav>li:nth-child(5) a{
        margin-left: -10px;
    }
    
     .col-sm-2{
        display: none;
    }
@media only screen and (max-width: 1024px) {
    .xs-padding-50-20 {
        padding: 50px 20px;
    }
    .font-size-60{
        font-size: 50px;
    }
    .font-size-55{
        font-size: 45px;
    }
    .font-size-50{
        font-size: 40px;
    }
    .font-size-45{
        font-size: 36px;
    }
    .font-size-40{
        font-size: 32px;
    }
    .font-size-32{
        font-size: 26px;
    }
    .font-size-26{
        font-size: 22px;
    }
    .font-size-20{
        font-size: 16px;
    }
    .service-content-row1 {
        height: 647px;
    }
    .service-content-block3 {
        height: 652px;
    }
    .footer-image {
        padding-bottom: 44%;
    }
    .service-content-row2 {
        height: 540px;
    }
    .service-content-row3 {
        height: 548px;
    }
    .navbar-nav>li:nth-child(5) a {
        margin-left: 0px;
    }

}
@media(max-width: 940px){
    .footer-image {
        padding-bottom: 53%;
    }
    .banner .content .main-heading-inner {
        margin-bottom: 10px;
    }
    .col-sm-2 {
        display: block;
    }

}
@media(max-width: 888px){
    .col-sm-2 {
        display: block;
    }
      .service-content-block3 {
        height: 534px;
    }
    .service-content-row1 {
        height: 647px;
    }
    .font-size-14 {
        font-size: 22px;
    }
    .padding-50-25 {
        padding: 18px 5px;
    }
    .font-size-16 {
        font-size: 25px;
    }
    .service-content-row1 {
        height: 1014px;
    }
    .service-content-block3 {
        height: 810px;
    }
    .service-content-row2 {
        height: 816px;
    }
    .service-content-row3 {
        height: 845px;
    }
    .service-content-row4 {
        height: 279px;
    }
    .banner .content {
        padding-top: 216px;
    }
    .general-team {
        min-height: 451px;
    }
   
}
@media(max-width: 783px){
    .footer-image {
        padding-bottom: 64%;
    }
    .service-content-row1 {
        height: 624px;
    }
    .service-content-block3{
        height: 476px;
    }
    .service-content-block2{
        height: 625px;
    }
    .service-content-administrativeHead{
        height: 455px;
    }
    .service-content-sumedha{
        height: 526px;
    }
    .service-content-kapilesh{
        height: 525px;
    }
}

@media(max-width: 768px){
    .footer-image {
        padding-bottom: 57%;
    }
    .general-team {
        min-height: 391px;
        background-image: url(../images/parallex/team-8.jpg);
        position: relative;
        width: 100%;
    }
    .banner .content {
        margin-bottom: -50px;
        padding-top: 181px;
    }
    .font-size-60 {
        font-size: 39px;
    }
    .font-size-40 {
        font-size: 24px;
    }
    .parallax {
        background-size: contain;
        background-attachment: scroll;
        background-position: bottom;
    }

}
@media(max-width: 600px){
    .footer-image {
        padding-bottom: 67%;
    }
    .image-container {
        height: 390px;
    }


     
}
@media(max-width: 680px){
    .footer-content {
        padding-top: 167px;
    }
    .service-content-row4 {
        height: 204px;
    }
    .padding-08-25 {
        padding: 26px 25px;
    }
     .footer-image {
        padding-bottom: 80%;
    }

}
@media(max-width:668px) {
    li.anim-slide:nth-of-type(1) > h1{
        margin: 100px 0 0;
        font-size: 35px;
        width: 100%;
    }
    .anim-dots{
        bottom: 5px;
    }
    h1#looks span{
        left:0;
    }
    h1#amazing span{
        margin-top: 70px;
        font-size: 25px;
        left:10%;
        width: 80%;
    }
    #exp {
        font-size: 35px;
    }
    #now {
        margin-top: 170px;
        font-size: 25px;
    }
    #cap {
        margin-top: 120px;
        font-size: 25px;
    }
    #ask {
        margin-top: 80px;
        font-size: 20px;
    }
    .second_slide {
        margin: 80px 0px 0 40px;
    }
    li.anim-slide:nth-of-type(3) > h1 {
        font-size: 30px;
    }
    h2#para {
        top: 40%;
        left: 25%;
        text-align: center;
        font-size: 20px;
        color: #fff;
        width: 230px;
        font-weight: 100;
    }
    h1#rework {
        font-size: 20px;
        width: 90%;
    }
    #big_no{
        font-size: 30px;
        left:25%;
    }
    h1#goal {
        right: auto;
        left: 25%;
        font-size: 35px;
    }
    h2#goal_para span{
        width: 100%;
    }
    h2#goal_para {
        right: auto;
        font-size: 20px;
        left: 15%;
        width: 70%;
    }
    .service-content-block2 {
        height: 460px;
    }
    .footer-image {
        padding-bottom:80%;
    }
    .font-size-16 {
        font-size: 23px;
    }
    
    
   
}
@media(max-width: 530px){
    .footer-image {
        padding-bottom: 81%;
    }
    
}
@media(max-width:480px){
    .clients {
        padding: 60px 0;
    }
    .second_slide {
        margin: 160px 0px 0 40px;
    }
    #now {
        margin-top: 140px;
        font-size: 18px;
    }
    #cap {
        margin-top: 100px;
        font-size: 18px;
    }
    #ask {
        margin-top: 60px;
        font-size: 18px;
    }
    #exp {
        font-size: 25px;
    }
    h1#a1{top:30%;left:21%;}
    h1#r1{top:30%;left: 26%;}
    h1#c1{top:30%;left: 31%;}
    h1#h1{top:30%;left: 36%;}
    h1#i1{top:30%;left: 42%;}
    h1#t1{top:30%;left:44.5%;}
    h1#e1{top:30%;left: 49%;}
    h1#c2{top:30%;left: 53%;}
    h1#t2{top:30%;left: 58%;}
    h1#u1{top:30%;left: 63%;}
    h1#r2{top:30%;left:68%;}
    h1#e2{top:30%;left: 73%;}
    h1#mark{top:30%;left: 78%;}
    #quality_image{
        left: -70px;
    }
    h1#goal {
        right: auto;
        left: 0;
        font-size: 30px;
        width: 100%;
    }
    h2#goal_para {
        right: auto;
        font-size: 17px;
        left: 0;
        width: 95%;
        line-height: 25px;
        padding: 10px;
        top:35%;
    }
    #man_image{
        right: -40px;
    }
    #exp_image {
        right: -300px;
        top: 130px;
    }
    h1#looks span{
        width: 100%;
        font-size: 30px;
    }
    li.anim-slide:nth-of-type(1) > h1{
        margin: 220px 0 0;
    }
    h1#amazing span{
        font-size: 20px;
        left: 0;
        width: 100%;
    }
    h2#para span{
        width: 100%;
    }
    #big_no{
        left: 50%;
        margin-left: -104px;
    }
    li.anim-slide:nth-of-type(3){
        background-position: -400px;
    }
    h2#para{
        left:0;
        width: 100%;
    }
    h1#rework{
        font-size: 20px;
        left: 0;
        width: 100%;
        background: rgba(0,0,0,0.3);
        border-radius: 0;
    }
    nav.anim-arrows>span{
        z-index: 999;
    }
    /*#now:after {
        content: url(../images/demo2/right_arrow-25.png);
        right:-60px;
    }*/
    .col-sm-2{
        display: block;
    }
    .footer-image {
        padding-bottom: 102%;
    }
    .font-size-50 {
        font-size: 33px;
    }
    .font-size-14 {
        font-size: 16px;
    }
    .font-size-16 {
        font-size: 18px;
    }

}


@media(max-width:992px) {
    .navbar-collapse .nav>li {
        width: 100px;
    }
}
@media(max-width:768px) {
    .sm-overflow-hidden {
        overflow: hidden;
    }
    .xs-block {
        display: block;
    }
    .col-sm-2{
        display: block;
    }
   /* .col-sm-4{
        width: 25%;
    }
    .col-sm-8{
        width: 75%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-3{
        width: 33.33%;
    }
    .col-sm-9{
        width: 66.67%;
    }
    .col-sm-12{
        width: 100%;
    }*/
    .sm-padding-0-50 {
        padding: 0 50px;
    }
    .mobile-dev-image img{
        max-width: 50%;
    }
    .tablet-text-center {
        text-align: center;
    }
    .sm-padding-30-80 {
        padding: 30px 80px;
    }
    .sm-padding-20-10{
        padding: 20px 10px;
    }
    .header-menu input ~ nav{
        background-size: 40%;
    }
    .sm-padding-0-20{
        padding: 0 20px;
    }
    .sm-margin-top-300 {
        margin-top: 300px;
    }
    .about-company-block{
        background-image: none;
    }
    .scroll-top-section{
        display: none;
    }
    .navbar-nav>li>a, .change-height .navbar-nav>li>a {
        padding: 10px;
    }
    .navbar-collapse .nav>li {
        width: auto;
    }
    .nav {
        font-size: 13px;
    }
    .change-height .nav {
        font-size: 12px;
    }
    .services-section-new-content {
        min-height: 260px;
    }
    .footer-desc {
        margin-left: 0;
    }
    .service-content-block2 {
        height: 774px;
    }
    .font-size-16 {
        font-size: 20px;
    }
    .padding-50-25 {
         padding: 18px 8px;
    }
    .service-content-row1 {
        height: 792px;
    }
    .font-size-14 {
        font-size: 18px;
    }
    .service-content-row2 {
        height: 628px;
    }
    .service-content-block3 {
        height: 628px;
    }
    .service-content-kapilesh {
        height: 604px;
    }
    .service-content-sumedha {
        height: 608px;
    }
    .service-content-administrativeHead {
        height: 635px;
    }
    .service-content-block-HR {
        height: 637px;
    }
    .service-content-row4 {
        height: 242px;
    }
}
@media(max-width:767px) {
    .general-banner .content .font-size-40 {
        font-size: 16px;
    }
    .banner .content.project-analysis {
        margin-bottom: 0;
    }
    .banner .content.do-it-content {
        margin-bottom: -20px;
    }
    .banner .content {
        margin-bottom: -100px;
    }
    .services-section-head .font-size-32 {
        font-size: 20px;
    }
    .general-banner .content .padding-50-25 {
        padding: 10px 25px;
    }
    .services-section-new-content .font-size-26 {
        font-size: 26px;
    }
    .section-head-content {
        margin-bottom: 30px;
    }
    .image-center {
        left: 0;
        margin-left: 0;
    }
    .container {
        width: 100%;
    }
    a.link-footer{
        font-size: 17px;
    }
    .footer-secondary-link {
        width: 75%;
    }
    .footer-primary-link {
        width: 25%;
    }
    .navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
        border-color: #c54041;
        background-color: #c54041;
    }
    .navbar-inverse .navbar-toggle {
        border-color: #c54041;
        background-color: #c54041;
    }
    .navbar-inverse .navbar-toggle .icon-bar {
        background-color: #fff;
    }
    .change-height .navbar-toggle {
        margin-top: 8px;
    }
    .navbar-toggle {
        margin-top: 22px;
    }
    .loading-image img {
        width: 50px;
    }
    .loading-image {
        margin-left: -25px;
        margin-top: -25px;
    }
    .strength-img {min-height: 250px; }
    .cwd-img {min-height: 370px;}
    .sta-img {min-height: 420px; }
    .mobile-img {min-height: 330px; }
    .startup-img {min-height: 330px; }
    .op-img {min-height: 350px; }
    .goal-img {min-height: 250px; }
    .font-size-26 {
        font-size: 20px;
    }
    .anim-arrows {
        display: none;
    }
    .services-section-bullet, .startup-list {
        padding: 0 20px;
        text-align: left;
    }
    .col-xxs-12 {
        width: 100%;
    }
/*    .image-center{
        left: 50%;
        margin-left: -180px;
    }*/
    .image-wrapper {
        min-width: 30px;
    }
    .footer-desc {
        margin-left: 0;
        text-align: center;
        padding: 30px;
    }

    .footer-desc-copy {
        font-size: 10px;
    }

    .footer-logo {
        width: 40px;
        margin: 0 auto 10px;
    }

    .xxs-padding-20-10 {
        padding: 20px 10px;
    }

    .xxs-padding-30 {
        padding: 30px 0;
    }

    .xxs-margin-bot-25 {
        margin-bottom: 25px;
    }
    .xxs-margin-bot-0 {
        margin-bottom: 0;
    }

    .header-menu input ~ nav {
        background-size: 0;
    }

    .header-menu input ~ nav > div.main-header-area {
        width: 100%;
        right: 0;
        top: 100px;
        max-height:80%;
        overflow-y: auto;
    }

    .header-menu input ~ nav > div.main-header-area > ul > li > a {
        padding: 10px 25px 0;
    }

    .level1-header-link,
    .level2-header-link {
        width: 100%;
    }

    .scrollup {
        bottom: 25px;
        right: 25px;
    }

    .general-img {
        min-height: 200px;
    }

    .general1-img {
        min-height: 300px;
    }

    .general2-img {
        min-height: 300px;
    }

    .general-team {
        min-height: 292px;
    }

    .general-contact {
        min-height: 300px;
    }

    .font-size-16 {
        font-size: 15px;
    }
    .font-size-20 {
        font-size: 14px;
    }
    .font-size-26 {
        font-size: 15px;
    }

    .font-size-40 {
        font-size: 20px;
    }

    .font-size-60 {
        font-size: 32px;
    }

    .font-size-32 {
        font-size: 22px;
    }

    .primary-btn {
        padding: 10px 20px;
    }

    .xxs-margin-bot-15 {
        margin-bottom: 15px;
    }

    .ceo-section-content {
        display: block;
    }

    .accordian_content h3, .accordian-left {
        margin-right: 0;
    }

    .accordian-right {
        margin-left: 0;
    }

    .xxs-align-center {
        text-align: center;
    }

    .xxs-margin-bot-10 {
        margin-bottom: 10px;
    }
    .xxs-margin-top-25 {
        margin-top: 25px;
    }
    .xxs-margin-top-50 {
        margin-top: 50px;
    }
    .xxs-margin-top-350 {
        margin-top: 350px;
    }
    .xxs-margin-top-300 {
        margin-top: 300px;
    }
    .xxs-margin-top-150 {
        margin-top: 150px;
    }
    .xxs-margin-top-180 {
        margin-top: 180px;
    }
    .xxs-margin-top-200 {
        margin-top: 200px;
    }
    .xxs-margin-top-250 {
        margin-top: 250px;
    }

    .xxs-padding-0 {
        padding: 0;
    }

    .font-size-45 {
        font-size: 26px;
    }
 /*   .section-head-content .image-wrapper img {
        width: 90%;
    }*/
    .general-block {
        text-align: center;
    }

    .section-head h5{
        margin-bottom: 15px;
    }
    .header-menu.change-height {
        height: 63px;
    }
    .header-menu.change-height{
        top: 0;
    }
    .navbar-inverse {
        background: #fff;
    }
    .header-menu.change-height, .header-menu{
        height: auto;
        transition-delay: 0s;
    }
    /*.header-menu.change-height input ~ nav{
        height: 63px;
    }
    .header-menu.change-height input + label{
        top: 20px;
    }
    .header-menu.change-height input:checked ~ nav{
        height: 100%;
        transition-delay: 0s;
    }*/

    .top-20 {
        top: 20px;
    }
    .mobile-dev-image img {
        max-width: 80%;
    }
    .mar-bot-35 {
        margin-bottom: 20px;
    }

   /* .footer-primary-link{
        width: 100%;
    }
    .footer-primary-link li {
        display: inline-block;
        float: left;
        padding: 0 20px;
    }*/
    .padding-50-25 {
        padding: 18px 10px;
    }
   /*  .service-content-row2 {
        height: 510px;
    } */
    .service-content-block-HR {
        height: 538px;
    }
    .banner .content {
        padding-top: 155px;
    }
    .image-container .background-image {
            background-size: cover;
            /* background-position: center; */
    }
}
@media (max-width: 760px){
    .font-size-25 {
    font-size: 28px;
    /* text-shadow: 2px 2px 5px #cac7c7; */
    }
}
@media(max-width:668px) {
    .right-shift {
        top: 10%;
        left: 10%;
    }
    .left-shift {
        top: 10%;
        right: 10%;
    }
    .font-size-16 {
           font-size: 17px;
    }
    .font-size-14 {
        font-size: 19px;
    }
    .service-content-row4 {
        height: 232px;
    }
    .font-size-25 {
        padding: 25px 0px;
    }
    .service-content-administrativeHead {
        height: 497px;
    }
    .font-size-25 {
        padding: 25px 0px;
    }
    .image-container {
        height: 390px;
    }
}
@media(max-width: 450px){
    .col-xs-6{
        display: block;
        width: 100%;
    }
    .footer-image {
        padding-bottom: 110%;
    }
    .font-size-50 {
        font-size: 30px;
    }
    .banner .content {
        padding-top: 128px;
    }
    .font-size-60 {
        font-size: 23px;
    }
    .general-team {
        min-height: 250px;
    }
    .banner .content .main-heading-inner {
        margin-bottom: 11px;
    }
    .service-content-block1 {
        height: 668px;
    }
    .service-content-block3 {
        height: 549px;
    }
    .service-content-block2 {
        height: 519px;
    }
    .font-size-14 {
        font-size: 16px;
    }
    .service-content-row2 {
        height: 504px;
    }
    .service-content-administrativeHead {
        height: 445px;
    }
    .service-content-row4 {
        height: 212px;
    }
    .image-container {
        height: 335px;
   
    }
}
@media(max-width: 360px){
    .footer-image {
        padding-bottom: 128%;
    }
    .image-container .background-image {
           background-size: cover;
           /* background-position: top; */
    }
    
    .service-content-sumedha {
        height: 591px;
    }
    .font-size-14 {
        font-size: 16px;
    }
    .service-content-row2 {
        height: 560px;
    }
    .service-content-kapilesh {
        height: 512px;
    }
    .service-content-administrativeHead {
        height: 507px;
    }
    .image-container {
        height: 310px;
   
    }
    .image-container-purvi{
            height: 261px;
    }
    .banner .content {
        padding-top: 124px;
    }
    .font-size-60 {
        font-size: 23px;
    }
    .general-banner .content .font-size-40 {
        font-size: 14px;
    }
    .general-team {
        min-height: 249px;
    }
    .parallax {
        background-attachment: scroll;
        background-size: contain;
        background-position: bottom;
    }
}
@media(max-width:320px){
    .footer-image {
        padding-bottom: 128%;
    }
    .parallax{
        /* background-size: 121% 87%; */
        background-position: bottom;
    }
    .font-size-60 {
        font-size: 19px;
    }
    .general-banner .content .font-size-40 {
        font-size: 13px;
    }
    .service-content-sumedha {
        height: 591px;
    }
    .font-size-14 {
        font-size: 14px;
    }
    .font-size-16 {
        font-size: 19px;
    }
    .service-content-sumedha {
        height: 537px;
    }
    .service-content-administrativeHead {
         height: 459px;
    }
    .image-container {
        height: 259px;
    }
    .general-team {
        min-height: 221px;
    }
}
