.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.general-team {
    min-height: 500px;
    background-image: url(../images/parallex/life5-edit.png);
    background-size: cover;
    position: relative;
    width: 100%;
}
.pepcus-team{
    width: 100%;
    position: relative;
    background-size: cover;
}
/* .general-team-layer {
  
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(165, 35, 35, 0.76);
} */

.pepcus-vedio-section{
        height: 416px;
        /* background: #e40909e0; */
        /* background: linear-gradient(to top, rgb(185, 185, 185) 0%, rgb(111, 109, 109) 91%, rgb(72, 72, 72) 100%); */
        padding-right: 0;
}
.pepcus-vedio-layer{
    background: white;
}
.pepcus-vedio-content p{
    padding-top: 43px;
    font-size: 18px;
    color: white;
}
.pepcus-general p{
        color: white;
        position: absolute;
        width: 100%;
        left: 45%;
        top: 50%;
        transform: translateY(-50%);
}
.banner .content .main-heading-inner {
    margin-bottom: 25px;
}
.navbar-brand {
    height: auto;
    padding: 0;
}
.font-bold {
    font-weight: bold;
}
.font-size-60 {
    font-size: 60px;
}
.line-height-13 {
    line-height: 1.3;
}
.banner .content {
    margin-bottom: -50px;
    padding-top: 50px;
}
.font-size-40 {
    font-size: 40px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.white-color {
    color: #fff;
}
.text-center {
    text-align: center;
}
.navbar-inverse {
    background-color: rgba(255,255,255,0.7);
    border-color: transparent;
}
.header-menu {
    transition: all 0.7s;
}
.header-menu {
    height: 100px;
    display: flex;
    align-items: center;
}
.nav {
    font-size: 18px;
    margin-top: 15px;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #585858;
}
.navbar-nav>li>a {
    padding: 10px 20px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #c12e2a;
}
.pepcus-vedio{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pepcus-slider-width{
    width: 100%;
}
.js-video {
  height: 0;
  padding-top: 27px;
  padding-bottom: 35.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 56.34%;
}
 
.js-video.vimeo {
  padding-top: 0;
}
.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.pepcus-gallery-head{
        padding-top: 37px;
        margin: 0 auto;
        float: none;        
}
.pepcus-gallery-head h2{
        font-size: 2.5em;
        font-weight: bold;
        color: #494747;
}
.pepcus-gallery-content h2{
    position: relative;
    border-bottom: 2px solid white;
}
.pepcus-gallery-content h2::after{
    content: '';
    position: absolute;
    border-bottom: 5px solid #de3434;
    left: 50%;
    top: 50%;
    height: 116px;
    width: 8%;
    transform: translateX(-50%)translateY(-50%);

}

