@import url('https://fonts.googleapis.com/css?family=Fascinate+Inline|Montserrat|Noto+Sans|Roboto');

@import url('https://fonts.googleapis.com/css?family=Poppins');

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
.montserrat-font-family {
    font-family: 'Montserrat', sans-serif;
}
.loading {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: block;
    opacity: 0.999;
    background-color: #fff;
    z-index: 99999;
    text-align: center;
}
.change-height .navbar-nav>li>a {
    padding: 10px 15px;
}
.change-height .nav {
    font-size: 16px;
}
.header-menu{
    height: 100px;
display: flex;
    align-items: center;
}
.header-menu input{
    display: none;
}
.header-menu.change-height {
    transition-delay: 0s;
}
.header-menu.change-height {
    height: 63px;
    background: #fff;
}
.parallax {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.general-team {
    min-height: 415px;
    background-image: url(../images/parallex/team-collage3.jpeg);
    background-size: cover;
    position: relative;
    width: 100%;
}
.pepcus-team{
    width: 100%;
    position: relative;
    background-size: cover;
}
.general-team-layer {
  
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(222, 48, 20, 0.78);
}
.pepcus-general::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(130, 27, 27, 0.76);

}
.pepcus-vedio-section{
        height: 416px;
        /* background: #e40909e0; */
        /* background: linear-gradient(to top, rgb(185, 185, 185) 0%, rgb(111, 109, 109) 91%, rgb(72, 72, 72) 100%); */
        padding-right: 0;
}
.pepcus-vedio-layer{
    background: white;
}
.pepcus-vedio-content p{
    padding-top: 43px;
    font-size: 18px;
    color: white;
}
.pepcus-general p{
        color: white;
        position: absolute;
        width: 100%;
        left: 45%;
        top: 50%;
        transform: translateY(-50%);
}
.banner .content .main-heading-inner {
    margin-bottom: 25px;
}
.navbar-brand {
    height: auto;
    padding: 0;
}
.font-bold {
    font-weight: bold;
}
.font-size-60 {
    font-size: 60px;
}
.line-height-13 {
    line-height: 1.3;
}
.banner .content {
    margin-bottom: -50px;
    padding-top: 183px;
}
.font-size-40 {
    font-size: 40px;
}
.flex-center {
    display: flex;
    align-items: center;
}
.white-color {
    color: #fff;
}
.text-center {
    text-align: center;
}
.navbar-inverse {
    background-color: rgba(255,255,255,0.7);
    border-color: transparent;
}
.header-menu {
    transition: all 0.7s;
}
.header-menu {
    height: 100px;
    display: flex;
    align-items: center;
}
.nav {
    font-size: 18px;
    margin-top: 15px;
}
.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #585858;
}
.navbar-nav>li>a {
    padding: 10px 20px;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    background-color: transparent;
    color: #c12e2a;
}
.pepcus-vedio{
    padding-top: 20px;
    padding-bottom: 20px;
}
.pepcus-slider-width{
    width: 100%;
}
.js-video {
  height: 0;
  padding-top: 27px;
  padding-bottom: 35.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}
 
.js-video.widescreen {
  padding-bottom: 56.34%;
}
 
.js-video.vimeo {
  padding-top: 0;
}
.js-video embed, .js-video iframe, .js-video object, .js-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}
.pepcus-gallery-head{
        padding-top: 37px;
        margin: 0 auto;
        float: none;        
}
.pepcus-gallery-head h2{
        font-size: 2.5em;
        font-weight: bold;
        color: #5a5555;
}

.btn-default{
    background-color: transparent !important;
    color: #403e3e  !important;
    font-weight: 650;
    margin-top: 30px;
    border: 1px solid #403e3e ;
    font-size: 18px;
}
.btn-default:hover{
    background-color: #403e3e  !important;
    color: white !important;
    font-weight: bold;
    /* font-size: 14px; */
}
.btn-default:active .filter-button:active{
    color: white !important;
}
.gallery_product{
    margin-right: -13px;
    margin-top: 18px;

}
.btn{
    border-radius: 10px !important;
    margin-right: 15px;
}
.my-sizer-element {
  width: 8.33333%;
}
.current{
    background-color: #403e3e  !important;
    color: white !important;
    border: 1px solid #403e3e ;
    transition: 0.2s all;
}
.p-bottom-20{
    padding-bottom: 20px;
}
