.general-team {
	/* min-height: 500px; */
    background-image: url(../images/careers/PHP-Engineer-banner-new.jpg);
    position: relative;	
    width: 100%;	
}
.background-block {
	min-height: 500px;
    background-image: url(../images/careers/php-engineer-bg.jpg);
    /* position: relative; */
    width: 100%;
}