.general-team {
	/* min-height: 500px; */
    background-image: url(../images/careers/QA-Engineer-banner-new.jpg);
    position: relative;	
    width: 100%;	
}
.background-block {
	min-height: 500px;
    background-image: url(../images/careers/qa-engineer-bg3.jpeg);
    /* position: relative; */
    width: 100%;
}