.padding-50-25 {
    padding: 25px 25px;
}
.padding-10-0 {
   
    padding: 10px 0;
}
.padding-50-0 {
    padding: 50px 0;
}
.team-container{
    width: 100%;
    height: auto;
    border: 5px solid #fff;
    margin-top: 50px;
    cursor: pointer;
}
.team-container-top {
    margin-top: 50px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    cursor: pointer;
    border-radius: 7%;
    transition: .5s ease;
    background: rgba(113, 2, 2, .86)
}
.text {
    color: #dccccc;
    font-size: 20em;
    position: absolute;
    top: 50%;
    left: 0;
    opacity: 0;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center
}

.team-container:hover .overlay>.text {
    opacity: 1;
    left: 50%;
    transition: .4s left;
    -webkit-transition: .4s left;
    -moz-transition: .4s left;
    -ms-transition: .4s left;
    -o-transition: .4s left
}
.team-container:hover .overlay {
    opacity: 1;
    cursor: pointer;
}

.image-container1 {
    border-top-right-radius: 65px;
    box-shadow: 4px -5px 7px rgba(0, 0, 0, .25)
}

.image-container2 {
    box-shadow: 0 -3px 10px #56515178;
    width: 100%;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.team-text-shadow {
    text-shadow: 2px 2px 5px #cac7c7;
}

.image-container .background-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    border-radius: 8%;
    background-position: center;
    background-repeat: no-repeat;
    transition: all .2s;
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -ms-transition: all .2s;
    -o-transition: all .2s;
    transition: border .2s;
    -webkit-transition: border .2s;
    -moz-transition: border .2s;
    -ms-transition: border .2s;
    -o-transition: border .2s;
}
/* DO NOT REMOVE THESE CLASSES */
/* .background-image1 {
    border-top-right-radius: 61px;
}

.background-image2 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.background-image3 {
    border-radius: 8%;
}

.background-image4 {
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
 */
.background-img2::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(142, 65, 65, .33)
}

.background-img {
    animation-name: fade;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 5s;
    animation-direction: alternate;
}
.image-container{
  position: relative;
  margin-bottom: 7px;
  width: 100%;
  height: 278px;
  cursor: pointer;
}
.hover1 {
    pointer-events: none;
    opacity: 0;
}
.image-container .background-image{
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    -webkit-transition: all .2s;
    transition: all .2s;
}
.hover{
    transition: all .4s;
    position: absolute;
    top: 0;
    opacity: 0;
}
.team-container .image-container:hover .background-image.hover {
    opacity: 1;
}
.team-name-head {
    padding: 0;
    margin-bottom: 9px;
}
.footer-height {
    height: 400px;
}
.footer-block {
    height: 100%;
}
.team-name {
    padding-top: 34px;
    position: static;
    padding-bottom: 6px;
    border-bottom-left-radius: 19px;
    border-bottom-right-radius: 19px
}

.service-section-content {
    /* margin-top: -95px; */
    padding-top: 70px;
    padding-bottom: 15px;
    /* border-radius: 0; */
    border-style: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px
}

.service-content-row1 {
    height: 598px;
}

.service-content-row2 {
    height: 476px;
}

.service-content-row3 {
    height: 455px;
}

.service-content-row4 {
    height: 224px;
}


.banner .content .main-heading-inner {
    margin-bottom: 25px;
}
.banner .content {
    margin-bottom: 0px;
    /* padding-top: 183px; */
    padding-top: 50px;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-image li:hover{
    opacity: 1;
}
.footer-image li:hover::after{
    background: rgba(255, 233, 233, 0);
}

.team-section-img .team-img2{
    opacity: 0;
    position: absolute;
    top: 12px;
    width: 330px;
    height: 291px;
}

.team-container:hover {
    transform: scale(1.02);
    cursor: pointer;
    -webkit-transform: scale(1.02);
    -o-transform: scale(1.02);
    -ms-transform: scale(1.02);
}
.white-shadow {
    box-shadow: 0 1.25rem 1.25rem rgba(34, 35, 36, 0.05);
}
.service-section-content{
    margin-top: -95px;
    border-radius: 0px;
    padding-top: 70px;
    padding-bottom: 15px;
    border-style: none;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px
}
.team-container:hover .image-container .background-image.hover {
    opacity: 1;
    cursor: pointer;
}
.team-container .image-container:hover .background-image.hover{
    opacity: 1;
    cursor: pointer;
}
.general-team {
    min-height: 500px;
    background-image: url(../images/parallex/team-8mob1.png);
    position: relative;
    width: 100%;
}
.footer-image {
    background-attachment: fixed;
    background: url(../images/footer/TeamPic-edit.png);
    position: relative;
    background-size: cover;
    width: 100%;
    height: 100%;
}

@media only screen and (max-width: 1280px) {
    .parallax {
        background-size: contain;
    }
    .general-team {
        min-height: 400px;
    }
    .general-team {
        background-image: url("../images/parallex/team-Pepcus-edit@.png");
        position:relative;
        width:100%;
    }
   
}
@media only screen and (max-width: 1024px) {
    .service-content-row1 {
        height: 685px;
    }
    .service-content-block1 {
        height: 629px;
    }
    .service-content-row4 {
        min-height: 244px;
    }
    .service-content-row5 {
        margin-top: 0;
        padding-top: 0;
        height: 155px;
    }
    #third_team div:nth-child(19) {
        margin-left: 0;
    }
    .image-container {
        height: 334px
    }
    .image-container-small {
        height: 220px
    }
    .padding-50-25 {
        padding: 19px 25px;
    }
    .footer-height {
        height: 385px;
    }
    /* .padding-10-0 {
         padding: 58px 0;
    } */
    .image-container-mobile{
        position: relative;
        margin-bottom: 7px;
        width: 100%;
        height: 278px;
        cursor: pointer;
    }
    .image-container-mobile .background-image{
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        -webkit-transition: all .2s;
        transition: all .2s;
    }
    .team-container .image-container-mobile:hover .background-image.hover {
        opacity: 1;
    }

}

@media(max-width:668px) {
    .parallax {
        background-size: contain;
        background-position: 0px 75px;
    }
}
@media(max-width:992px) {
    .general-team {
        min-height: 400px;
    }
    
    #third_team div:nth-child(19) {
        margin-left: 16.66666667%;
    }
    .service-content-block1 {
        height: 590px;
    }
    #secondary_team div:nth-child(n+0) .service-content-block1 {
        height: 500px;
    }
    #main_team div:nth-child(3) .service-content-block1 {
        height: 500px;
    }
    #primary_team div:nth-child(1) .service-content-block1 {
        height: 500px;
    }
    .parallax {
        background-size: cover;
    }
}

@media(max-width:768px) {
    .parallax {
        background-size: contain;
        /* background-position: 0px 75px; */
    }
    .scroll-top-section{
        display: block;
    }
    .banner .content {
        margin-bottom: -50px;
        padding-top: 50px;
    }
    .service-content-block1 {
        height: 606px;
    }
    #main_team div:nth-child(3) .service-content-block1 {
        height: 495px;
    }
    #primary_team div:nth-child(1) .service-content-block1 {
        height: 495px;
    }
    #secondary_team div:nth-child(n+0) .service-content-block1 {
        height: 503px;
    }
}

@media(max-width: 700px) {
    .service-content-block1 {
        height: auto;
    }
    .service-content-row4 {
        height: auto;
        min-height: auto;
    }
     #third_team div:nth-child(19) {
        margin-left: 0;
    }
    .mar-bot-15 {
        margin-bottom: 15px;
    }
    .image-container {
        height: 289px;
    }
    .image-container-small {
        height: 277px;
    }
    .padding-50-25 {
        padding: 14px 14px;
    }
    .general-team {
       min-height: 400px;
    }
    .banner .content {
        margin-bottom: -70px;
    }
    #secondary_team div:nth-child(n+0) .service-content-block1 {
        height: auto;
    }
    #main_team div:nth-child(3) .service-content-block1 {
        height: auto;
    }
    #primary_team div:nth-child(1) .service-content-block1 {
        height: auto;
    }
}
@media(max-width: 668px) {
    .image-container {
        height: 454px;
    }
    .image-container-small {
        height: 482px;
    }
}
@media(max-width: 450px) {
    .image-container {
        height: 316px;
    }
    .general-team {
       min-height: 300px;
    }
    .image-container-small {
        height: 365px;
    }
    .text {
        font-size: 29em;
    }
    .parallax {
        background-size: contain;
        background-position: 0px 75px;
    }
    .banner .content {
        margin-bottom: -40px;
    }
}
@media (max-width: 640px) and (orientation: landscape) {
    .parallax {
        background-size: cover;
    }
}